# Application Configuration
APP_GEMINI_API_KEY=

# Admin Authentication
# This is the SHA-256 hash of your village name (all lowercase, trimmed)
# For example, the hash for "admin" is:
# 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
# You can generate your own hash in terminal using: echo -n "myvillage" | shasum -a 256
VITE_ADMIN_VILLAGE_HASH=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
